 <!-- Sidebar -->
 <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
    <div class="position-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home" routerLinkActive="active">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/angular-json" routerLinkActive="active">
            angular.json
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tsconfig" routerLinkActive="active">
            tsconfig.td
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signals" routerLinkActive="active">
            Signals
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/custom-validation" routerLinkActive="active">
            Custom Validation
          </a>
        </li>
      </ul>
    </div>
  </nav>