<div class="container my-4 bg bg-light p-2">
  <div mat class="card p-3 card-custom test-dark">
    <h2 class="txt-custom">Angular Signals</h2>
    <br>
    Les Angular Signals sont un système qui suit finement l’utilisation de
    l’état à travers une application,<br> permettant au framework d’optimiser
    les mises à jour de rendu.
  </div>
  <br>
  <div mat class="card p-3 card-custom test-dark">
    <h2 class="txt-custom">Pourquoi avons-nous besoin de signaux ?</h2>
    <br>
    <p>La première question ici est de savoir pourquoi avons-nous besoin de
      <strong>signaux</strong> en premier lieu. Pour cela, il faut parler un peu
      de <em>théorie</em>.</p>

    <p>Dans Angular, il existe ce qu'on appelle le <strong>cycle de détection de
        changements Angular</strong>.</p>

    <p class="alert alert-secondary">Si un changement survient, Angular ne sait
      pas quels changements se sont produits. Il vérifie simplement chaque
      composant pour voir s'il y a des changements.</p>

    <p>Comme vous pouvez le comprendre, ce processus est vraiment
      <em>magique</em>, car rien ne nécessite d'intervention, et tout se
      réaffiche automatiquement au besoin. Cependant, lorsque vous avez beaucoup
      de composants et de propriétés à vérifier, Angular devient vraiment
      lent.</p>

    <p>C'est pourquoi nous avons des choses comme la détection de changements
      avec <strong>OnPush</strong>, qui n'est pas vraiment une solution, mais
      plutôt un "hack" qui aide Angular à effectuer moins de vérifications.</p>

    <p>Mais maintenant, nous avons quelque chose de nouveau, appelé
      <strong>Angular Signals</strong>.</p>
    <div class="d-flex justify-content-between">
      <img [src]="'/assets/images/illustration.png'" class="img-custom">
      <div class="card txt-custom m-2 mt-0 mb-0 p-3"
        style="border: none; font-size: medium; border-radius: 20px;">
        <p>Comme vous pouvez le voir sur sur le schéma, les signaux fonctionnent
          complètement différemment. Vous avez un signal et des consommateurs de
          ce signal qui sont notifiés directement lorsque vous modifiez la
          valeur.
          <p class="alert alert-warning txt-custom">Avec les signaux, Angular
            n'a pas besoin de parcourir tout l'arbre
            pour vérifier si nous avons effectué des modifications.
            <p> Cela doit amener nos applications à un niveau supérieur.</p>
          </div>
        </div>
      </div>
      <br>
      <div mat class="card p-3 card-custom test-dark">
        <h2 class="txt-custom">Utilisation des signaux</h2>
        <br>
        <div class="code-block">
          <div class="code-block">
            <pre>
            <span class="non-clair">export class BasicSignalComponent &#123;</span>
            compteur = signal(0);
            <span class="non-clair">increment(): void &#123;
              this.compteur.set(this.compteur() + 1);
            &#125;
            decrement(): void &#123;
            this.compteur.update(compteur => compteur - 1);
            &#125;
         &#125;</span></pre>
          </div>
        </div>
        Voici comment créer un signal à l'intérieur d'un composant. <br>
        Maintenant, ajoutons un bouton pour incrémenter la valeur de ce signal
        et l'afficher dynamiquement. <br>
        <div class="code-block">
          <div class="code-block">
            <pre>
       <span class="non-clair">&lt;div class="container py-3 my-4 bg-white rounded "&gt;
        &lt;div class="row card p-4"&gt;
            &lt;div&gt;</span>
                &lt;h3&gt;Compteur : &#123; &#123; compteur() &#125;&#125;&lt;/h3&gt;
                <span class="non-clair">&lt;button class="btn btn-info" (click)="increment()"&gt;Augmenter&lt;/button&gt;
                &lt;button class="btn btn-warning" (click)="decrement()"&gt;Réduire&lt;/button&gt;
            &lt;/div&gt;
          &lt;/div&gt;
      &lt;/div&gt;</span></pre>
          </div>
        </div>
        <p>Comme vous pouvez le voir, nous avons utilisé le signal compteur en
          HTML avec des parenthèses. <br>
          Nous l’avons donc appelé comme une fonction et c’est ainsi que l’on
          obtient la valeur actuelle du signal.</p>

        <div class="code-block">
          <div class="code-block">
            <pre>
              <span class="non-clair">export class BasicSignalComponent &#123;</span>
              <span class="non-clair">compteur = signal(0);</span>
              increment(): void &#123;
                this.compteur.set(this.compteur() + 1);
              &#125;
              decrement(): void &#123;
              this.compteur.update(compteur => compteur - 1);
              &#125;
            <span class="non-clair">&#125;</span></pre>
          </div>
        </div>
        <div>Ici, nous avons implémenté la méthode increment qui met à jour
          notre signal. Comme vous pouvez le voir, nous utilisons .set pour
          complètement remplacer la valeur actuelle dans le signal.

          Pour la méthode decrement, nous utilisons .update pour modifier la
          valeur actuelle de manière incrémentale. </div>
        <div class="text-end">
          <a [routerLink]="['/basic-sig']" class="btn btn-voir-expl"
            type="button">Voir la démo de l'exemple</a>
        </div>
      </div>
      <br>

      <div mat class="card p-3 card-custom text-dark">
        <h2 class="txt-custom">Writable signals</h2>
        <br>
        Créons maintenant un signal pour un tableau de cours dans CourseService
        en utilisant
        l'interface `ICourse` :
        <div class="code-block">
          <div class="code-block">
            <pre>
      <span class="non-clair">export class CourseService &#123;
            </span>coursesState = signal&lt;ICourse[]&gt;([]);
            
            constructor() &#123;
                this.coursesState.set&#91;
                  &#123;id: 1, title: 'Spring boot', description: 'cours spring boot',  prix: 2000, selected: true &#125;,
                  &#123; id: 3, title: 'Angular', description: 'cours angular', prix: 1500, selected: false &#125;,
                  &#123; id: 2, title: 'Flutter', description: 'Totruaal flutter',  prix: 1300, selected: false &#125;
                &#93;;
            &#125;
            <span class="non-clair">getAllCourses() &#123;
            return this.coursesState();
            &#125;
          &#125;</span></pre>
          </div>
        </div>
        <div>Voici comment nous avons initialisé les valeurs des cours en
          utilisant la méthode <strong>.set()</strong> <br>
        </div>

        <div class="code-block">
          <div class="code-block">
            <pre>
            <span class="non-clair">export class CoursesCrudComponent &#123;</span> 
              courses = this.courseService.coursesState;
              <span class="non-clair">constructor(private courseService: CourseService) &#123;&#125;
            &#125;</span></pre>
          </div>
        </div>

        <div>
          <p> accédons directement au signal coursesState du service
            CourseService.</p>
        </div>
        <br><br>
        <h2 class="txt-custom">Effets sur les signaux</h2>
        <p>Les signaux sont utiles car ils avertissent les consommateurs
          intéressés lorsqu'ils changent. Un effet est une opération qui
          s'exécute chaque fois qu'une ou plusieurs valeurs de signal changent.
          Vous pouvez créer un effet avec la fonction effect :</p>

        <div class="code-block">
          <div class="code-block">
            <pre>
            <span class="non-clair">export class CourseService &#123;
            coursesState = signal&#91;ICourse&#93;(&#123;&#125;);
            
            constructor&#40;&#41; &#123;</span>
            effect( &#40;&#41; &#123;
                this.coursesState.set(&#91;
                  &#123; id: 1, title: 'Spring boot', description: 'cours spring boot', prix: 2000, selected: true &#125;,
                  &#123; id: 3, title: 'Angular', description: 'cours angular', prix: 1500, selected: false &#125;,
                  &#123; id: 2, title: 'Flutter', description: 'Totruaal flutter', prix: 1300, selected: false &#125;
                &#93;);
              &#41;&#41;; <span class="non-clair">
            &#125;
          &#125;</span></pre>
          </div>
        </div>
        <p>Ici, nous avons défini un effet qui est déclenché après chaque
          changement de signal</p>
        <br>
        <div class="text-end">
          <a [routerLink]="['/courses']" class="btn btn-voir-expl"
            type="button">Voir la démo de l'exemple</a>
        </div>
      </div>
      <br>
      <div mat class="card p-3 card-custom test-dark">
        <h2 class="txt-custom">Computed</h2>
        <br>
        La dernière chose que vous devez savoir sur les signaux angulaires est
        computed. Cela nous permet de créer de nouveaux signaux basés sur des
        signaux existants.
        <div class="code-block">
          <div class="code-block">
            <pre>
            <span class="non-clair">export class CoursesCrudComponent &#123;</span> 
            courses = computed&lt;ICourse[]&gt;(() => this.courseService.getAllCourses());
            <span class="non-clair">constructor(private courseService: CourseService) &#123;&#125;
            &#125;</span></pre>
          </div>
        </div>
        <p>Ici, nous avons défini un signal <strong>courses</strong> qui contient la liste de tous les cours. Cette liste est récupérée à travers la méthode getAllCourses de CourseService, et elle sera mise à jour automatiquement chaque fois que les données des cours changent.</p>
      </div>
<!-- 
      <br>
      <div class="card-custom">
        <div class="d-flex justify-content-between mb-3">
          <button
            mat-button
            class="btn"
            (click)="togglePanels(accordion)">
            {{ isExpanded ? 'Réduire tout' : 'Développer tout' }}

          </button>
        </div>

        <mat-accordion #accordion="matAccordion" class="example-headers-align"
          multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title style="width: 20px;"><h1>Angular
                  Signals</h1></mat-panel-title>
              <mat-panel-description>
                Les Angular Signals sont un système qui suit finement
                l’utilisation de
                l’état à travers une application, permettant au framework
                d’optimiser
                les mises à jour de rendu.
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>First name</mat-label>
                  <input matInput />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Age</mat-label>
                  <input matInput type="number" min="1" />
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Destination</mat-panel-title>
              <mat-panel-description>
                Type the country name
                <mat-icon>map</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="w-100">
                  <mat-label>Country</mat-label>
                  <input matInput />
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Day of the trip</mat-panel-title>
              <mat-panel-description>
                Inform the date you wish to travel
                <mat-icon>date_range</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="w-100">
                  <mat-label>Date</mat-label>
                  <input matInput [matDatepicker]="picker"
                    (focus)="picker.open()"
                    readonly />
                </mat-form-field>
                <mat-datepicker #picker></mat-datepicker>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div> -->
    </div>
