.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }

  .card-custom {
    background-color: #f8f9fa; /* Couleur de fond claire */
    border-radius: 8px; /* Bordure arrondie */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour le relief */
    padding: 1rem; /* Espace interne */
    border: 1px solid #dee2e6; /* Bordure légère */
    transition: box-shadow 0.3s ease-in-out; /* Animation de la boîte */
}

.card-custom:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée au survol */
}

.txt-custom{
  color: #0f3896;
}
.img-custom{
  border-radius: 20px;
  width: 670px;
}

.code-block {
  background-color: #2d2d2d; /* Fond sombre */
  color: #f8f8f2; /* Texte clair */
  border-radius: 5px;
  padding: 0; /* Padding défini à zéro */
  overflow-x: auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  margin: 10px 0;
  line-height: 1.5;
}

code {
  display: block;
  white-space: pre-wrap;
}
.non-clair{
  color: rgb(129, 129, 129);
} 

.btn-voir-expl{
  background: #fff !important;
  color: #0f3896;
}

.btn-voir-expl:hover{
  background: #0f3896 !important;
  color: #fff;
}