<div class="registration-container">
  <mat-card class="registration-card">
    <mat-card-header>
      <mat-card-title> <h2  class="txt-custom"> Inscrivez-vous</h2></mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"
        class="registration-form">
        <!-- Username -->
        <mat-form-field appearance="outline">
          <mat-label>Nom d'utilisateur</mat-label>
          <input matInput
            id="username"
            formControlName="username"
            placeholder="3 caractères minimum"
            aria-describedby="username-error" />

          <mat-error id="username-error"
            *ngIf="registerForm.get('username')?.invalid && 
                            (registerForm.get('username')?.dirty || registerForm.get('username')?.touched)">
            Choisissez un pseudo contenant au moins 3 caractères.
          </mat-error>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field appearance="outline">
          <mat-label>Entrez votre email</mat-label>
          <input matInput
            id="email"
            formControlName="email"
            placeholder="votre@email.com"
            aria-describedby="email-error" />

          <mat-error id="email-error"
            *ngIf="registerForm.get('email')?.invalid && 
                            (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
            Rentrez un email valide.
          </mat-error>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input matInput
            type="password"
            id="password"
            formControlName="password"
            placeholder="Votre mot de passe"
            aria-describedby="password-error" />

          <mat-error id="password-error"
            *ngIf="registerForm.get('password')?.invalid && 
                            (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
            Au moins un symbole, un chiffre, ainsi que 6 caractères minimum.
          </mat-error>
        </mat-form-field>

        <!-- Confirm Password -->
        <mat-form-field appearance="outline">
          <mat-label>Confirmez le mot de passe</mat-label>
          <input matInput
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
            aria-describedby="confirm-password-error" />

          <mat-error id="confirm-password-error"
            *ngIf="registerForm.get('confirmPassword')?.invalid && 
                            (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched)">
            Les mots de passe ne correspondent pas.
          </mat-error>
        </mat-form-field>

        <!-- Submit Button -->
        <button mat-raised-button
          color="primary"
          type="submit"
          class="submit-button"
          [disabled]="registerForm.invalid">
          Créer un compte
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>